<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="九圓水餃集團">
        九圓水餃_全台門市總覽
      </a>
      <a class="navbar-brand" href="/map">
        <i class="fa-solid fa-map"></i>
          地圖查找
      </a>
      <a class="navbar-brand" href="/user-login">
        <i class="fa-solid fa-user"></i>
          會員中心
      </a>
      
    </div>
  </nav>

  <div class="banner"></div>
</header>

<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants">
        <h4 class="mb-2">尋找分店：</h4>
        <div class="input-group">
          <input type="text" name="kw" class="form-control" placeholder="輸入分店名稱或地址比對" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row justify-content-start">
    {{#each restaurants as |restaurant|}}
<div class="col-lg-4 col-md-12 col-12 mb-3">
  <div class="card p-2">
    <h5 class="card-title text-center text-danger fw-bold fs-3">{{restaurant.name}}</h5>
    <div class="card-body">
            <div class="restaurant-location mb-1">
              <p class="card-text text-center p-2 lh-lg fs-6">
                <i class="fas fa-map-marker-alt pr-2"></i>
                地址:
                <a href="https://www.google.com.tw/maps" class="text-secondary" target="_blank">
                  {{restaurant.location}}
                  <i class="fas fa-location-arrow pr-2 fa-xs"></i></a><br>
                  <i class="fa-solid fa-store"></i>
                營業時間: {{opening-hours}}<br>
                <span class="text-success  bg-light fw-bold">
                  <i class="fa-solid fa-clock"></i>
                  預估等待時間: {{waiting-time}}
                </span>
              </p>
            </div>
    <div class="restaurant-cta d-flex justify-content-evenly align-items-center">
      <a href="tel:+886-{{restaurant.phone}}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
        title="點擊撥打電話" style="white-space: nowrap;">
        <i class="fa-solid fa-phone"></i> {{restaurant.phone}}
      </a>
      <a href="/restaurant/{{restaurant.id}}" class="btn btn-danger fs-6" data-bs-toggle="tooltip" data-bs-placement="top"
        title="分店線上點餐頁" style="white-space: nowrap;">
        <i class="fa-solid fa-cart-shopping"></i> 前往訂餐
      </a>
    </div>
    </div>
    </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>